.header {
    display:flex;
    flex-direction:row;
    justify-content: center;
    background-color: #ffaf42;
    color:black;
    height: 100px;
    width: 100%;
    align-items: center;
    border-bottom: 5px solid deeppink;
}


.dashboard {
    display:grid;
    width: 100%;
    grid-template-columns: 1fr 3fr;
    padding: 2rem;
    gap: 2rem;

}


.infoContainer {
    display:grid;
    width:100%;
    grid-template-rows: 1fr 1fr;
    background-color: white;
    
}
#currentContainer {
    display:flex;
    flex-direction:row;
    justify-content: space-evenly;
    border: 2px solid black;
    border-radius: 5px;
}
#cityStats {
    display:flex;
    flex-direction: row;
    justify-content: space-between;

}
.forecastHeader {
    display:flex;
    justify-content: center;
}

 .forecastContainer {
    display:flex;
    flex-direction:row;
    padding:30px;
    justify-content: center;
    align-items: flex-end; 
    

 } 
#searchHistory {
    border-top: 5px solid deeppink;
    padding:5px;
}

.search {
    justify-content: center;
    align-self: row;
}
ul {
    list-style: none;
}
ul li {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size:16px;
}

.uvLow {
    background-color: limegreen;
    border-radius: 10px;
    width: 100%;
}

.uvMod {
    background: yellow;
    border-radius: 10px;
    width:100%;
}

.uvSevere {
    background-color: red;
    border-radius: 10px;
    width: 100%;
}
.cardSamm {
    background-color: #ffaf42;
    color:black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-shadow: 5px 5px black;
    border-radius: 5px;
    width: 12rem; 
    margin: 5px;
}
.list-group button {
    background-color: #ffaf42;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color:black;
}